* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

#nav-bar {
    position: sticky;
    top: 0;
    z-index: 10;
    width: 100%;
}

.navbar {
    padding: 0 !important;
    background: rgba(255, 255, 255, 0.9);
    min-height: 60px;
    
}

.navbar-brand {
    padding-left: 20px;
}

.navbar-nav li {
    padding: 0 10px;
}

.navbar-nav li a {
    color: rgb(0, 0, 0) !important;
    font-weight: 450;
    float: right;
    text-align: left;
}

.fa-bars {
    color: rgb(0, 0, 0);
    font-size: 30px !important;
}

.navbar-toggler {
    outline: none !important;
}

#content {
    padding-top: 5%;
    padding-bottom: 5%;
    min-height: 600px;
    background-color:rgba(43, 201, 109, 0.9);
}

.title {

}

#image {
    height: 350px;
    border-radius: 10px;
    /*margin-left: 20%;*/
}

.text {
    font-size: 17px;
    margin-top: 30px;
}

.linkedin {
    color:black;
}

#kontakt {
    padding: 5px 0;
    background-color: rgb(0, 0, 0);
    height: 20%;
    align-content: center;
}

#footer-title {
    color: white;
    font-size: 30px;
}

#footer-text {
    color: white;
    font-size: 20px;
}